In [10]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df=pd.read_csv('patient_data.csv')
df

      plasma_CA19_9     LYVE1  CYFRA 21-1  Creatinine   Disease
0           25.3210  0.893219     18.3774    0.095512   Healthy
1           16.2360       NaN     11.0354    0.659060  Diabetes
2            7.2643  0.145589     17.3140    0.417295  Thalasse
3               NaN  0.002805      8.2653    0.490349    Anemia
4            9.5643  0.000860     13.4328    0.153350  Thalasse
...             ...       ...         ...         ...       ...
4697         5.2630  4.242341      6.2110    0.311568  Diabetes
4698         7.1490  0.022323     18.1246    0.701914  Thalasse
4699         6.1128  0.571181     17.6911    0.155871    Anemia
4700        13.8850  0.011929     17.7863    0.171245  Diabetes
4701        11.2650  8.160930     19.6569    0.331887    Anemia

[4702 rows x 5 columns]

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4702 entries, 0 to 4701
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   plasma_CA19_9  4682 non-null   float64
 1   LYVE1          4652 non-null   float64
 2   CYFRA 21-1     4700 non-null   float64
 3   Creatinine     4702 non-null   float64
 4   Disease        4702 non-null   object
dtypes: float64(4), object(1)
memory usage: 183.8+ KB

In [12]:
df.isnull().sum()

plasma_CA19_9    20
LYVE1            50
CYFRA 21-1        2
Creatinine        0
Disease           0
dtype: int64

In [13]:
df_num=df.select_dtypes(include=np.number)
df_num

      plasma_CA19_9     LYVE1  CYFRA 21-1  Creatinine
0           25.3210  0.893219     18.3774    0.095512
1           16.2360       NaN     11.0354    0.659060
2            7.2643  0.145589     17.3140    0.417295
3               NaN  0.002805      8.2653    0.490349
4            9.5643  0.000860     13.4328    0.153350
...             ...       ...         ...         ...
4697         5.2630  4.242341      6.2110    0.311568
4698         7.1490  0.022323     18.1246    0.701914
4699         6.1128  0.571181     17.6911    0.155871
4700        13.8850  0.011929     17.7863    0.171245
4701        11.2650  8.160930     19.6569    0.331887

[4702 rows x 4 columns]

In [14]:
df_cat=df.select_dtypes(exclude=np.number)
df_cat

       Disease
0      Healthy
1     Diabetes
2     Thalasse
3       Anemia
4     Thalasse
...        ...
4697  Diabetes
4698  Thalasse
4699    Anemia
4700  Diabetes
4701    Anemia

[4702 rows x 1 columns]

In [15]:
df_cat.columns
for col in df_cat.columns:
    print(col, '=\n', df_cat[col].unique())

Disease =
 ['Healthy' 'Diabetes' 'Thalasse' 'Anemia' 'Thromboc']

In [16]:
df.head()

   plasma_CA19_9     LYVE1  CYFRA 21-1  Creatinine   Disease
0        25.3210  0.893219     18.3774    0.095512   Healthy
1        16.2360       NaN     11.0354    0.659060  Diabetes
2         7.2643  0.145589     17.3140    0.417295  Thalasse
3            NaN  0.002805      8.2653    0.490349    Anemia
4         9.5643  0.000860     13.4328    0.153350  Thalasse

In [17]:
df.shape

(4702, 5)

In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('patient_data.csv')

# Display the first few rows of the DataFrame
print("Original DataFrame:")
print(df.head())

# Create a filtered DataFrame for rows where Disease is 'Diabetes'
df_diabetes = df[df['Disease'] == 'Diabetes']

# Display the filtered DataFrame
print("\nFiltered DataFrame (only Diabetes):")
print(df_diabetes)

# Optional: Save the filtered DataFrame to a new CSV file
df_diabetes.to_csv('diabetes_patients.csv', index=False)

Original DataFrame:
   plasma_CA19_9     LYVE1  CYFRA 21-1  Creatinine   Disease
0        25.3210  0.893219     18.3774    0.095512   Healthy
1        16.2360       NaN     11.0354    0.659060  Diabetes
2         7.2643  0.145589     17.3140    0.417295  Thalasse
3            NaN  0.002805      8.2653    0.490349    Anemia
4         9.5643  0.000860     13.4328    0.153350  Thalasse

Filtered DataFrame (only Diabetes):
      plasma_CA19_9     LYVE1  CYFRA 21-1  Creatinine   Disease
1           16.2360       NaN     11.0354    0.659060  Diabetes
5            3.6470  0.003393     19.7934    0.128124  Diabetes
11          23.6410  0.860337     16.3842    0.882164  Diabetes
13           7.6500  1.516773     16.8321    0.755205  Diabetes
17           4.2650  0.003212     10.7719    0.425296  Diabetes
...             ...       ...         ...         ...       ...
4687        10.4300  0.000129     14.5049    0.041583  Diabetes
4692        26.2300  0.091370     18.2275    0.977656  Diabetes
4693        35.2646  1.858508     16.0422    0.747632  Diabetes
4697         5.2630  4.242341      6.2110    0.311568  Diabetes
4700        13.8850  0.011929     17.7863    0.171245  Diabetes

[1080 rows x 5 columns]